.player {
    /*flex -> left and right*/
    display: flex;
    width: 750px;
    margin: auto;
    /*border: 3px solid #ccc;*/
    border: 2px solid lightblue;
    box-shadow: -1px 0 10px 0 darkcyan;
    /*box-shadow: 3px 10px 10px darkcyan;*/
    border-radius: 10px;
    overflow: hidden;
}
